@model List<Message>

@{
    ViewData["Title"] = "Trash";
    Layout = "~/Views/Shared/_MessageLayout.cshtml";
}

<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">Çöp Kutusu</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">FMail</a></li>
            <li class="breadcrumb-item active">Çöp Kutusu</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="card col-12">
        <div class="card-body">
            <h3 class="card-title">Çöp Kutusu</h3>
            <div class="table-responsive table-striped">
                @if (Model != null && Model.Any())
                {
                    <table class="table">
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="mailbox-name"><a href="/Message/Details/@item.MessageId">@item.SenderMail</a></td>
                                <td class="mailbox-subject">
                                    <b>@item.Subject</b>
                                </td>
                                <td class="mailbox-attachment"></td>
                                <td class="mailbox-date">@item.CreatedAt.ToString("dd.MM.yyyy HH:mm")</td>
                                <td>
                                    <a class="btn btn-danger" href="/Message/PermanentlyDelete/@item.MessageId">Kalıcı Olarak Sil</a>
                                </td>
                            </tr>
                        }
                    </table>
                }
                else
                {
                    <div class="alert alert-info text-center mt-4 py-3">
                        <h5>Çöp kutunuzda henüz bir mesaj yok. Mesajlarınızı sildikçe burada gözükecekler.</h5>
                    </div>
                }
            </div>
        </div>
    </div>
</div>