@model LoginViewModel

@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
	<title>Giriş Yap | FMail</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="~/login-form-17/css/style.css">

</head>
<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">FMail Kullanıcı Girişi</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-12 col-lg-10">
					<div class="wrap d-md-flex">
						<div class="text-wrap p-4 p-lg-5 text-center d-flex align-items-center order-md-last">
							<div class="text w-100">
								<h2 style="font-family:Montserrat">FMail'e Hoş Geldiniz</h2>
								<p style="font-family:Montserrat">Hesabın Yok Mu?</p>
								<a href="/Register/Index/" class="btn btn-white btn-outline-white" style="font-family:Montserrat">Kayıt Ol</a>
							</div>
						</div>
						<div class="login-wrap p-4 p-lg-5">
							<div class="d-flex">
								<div class="w-100">
									<h3 class="mb-4" style="font-family:Montserrat">Giriş Yap</h3>
								</div>
							</div>
							<form method="post" class="signin-form">
								<div class="form-group mb-3">
									<label class="label" for="name" style="font-family:Montserrat">Kullanıcı Adı</label>
									<input asp-for="Username" type="text" class="form-control" placeholder="Kullanıcı Adınızı Yazın" style="font-family:Montserrat" required>
								</div>
								<div class="form-group mb-3">
									<label class="label" for="password" style="font-family:Montserrat">Şİfre</label>
									<input asp-for="Password" type="password" class="form-control" placeholder="Şifrenizi Yazın" style="font-family:Montserrat" required>
								</div>
								<div class="form-group">
									<button type="submit" class="form-control btn btn-primary submit px-3" style="font-family:Montserrat">Giriş Yap</button>
								</div>
								<div class="form-group d-md-flex">
									<div class="w-50 text-left">
										<label class="checkbox-wrap checkbox-primary mb-0" style="font-family:Montserrat">
											Beni Hatırla
											<input type="checkbox" checked>
											<span class="checkmark"></span>
										</label>
									</div>
									<div class="w-50 text-md-right" style="font-family:Montserrat">
										<a href="#">Şifremi Unuttum</a>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="~/login-form-17/js/jquery.min.js"></script>
	<script src="~/login-form-17/js/popper.js"></script>
	<script src="~/login-form-17/js/bootstrap.min.js"></script>
	<script src="~/login-form-17/js/main.js"></script>

</body>
</html>

